.boardMenu {
    width: 180px;
    padding: 24px 16px;
    position: sticky;
    top: 24px;
    align-self: flex-start;
}

.boardMenu li {
    list-style-type: none;
}

.boardMenuTitle {
    font-weight: 700;
    margin-bottom: 16px;
}

.boardMenuItem {
    display: block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    text-decoration: none;
    color: #222;
    border-bottom: 1px solid gray;
}

.boardMenuItemActive {
    background-color: #e0e0e0;
}