.column {
  display: flex;
  flex-direction: column;
  background: #f5f8ff;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #dde3ff;
}

.header {
  padding: 10px 14px;
  border-bottom: 1px solid #dde3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
}

/* 색 변형 */
.ajou .header {
  background: #a9c6ff;
  color: #005ca8;
}

.restaurant .header {
  background: #d9c699;
  color: #fff5da;
}

.free .header {
  background: #faf5ef;
  color: #a58ecb;
}

.badge {
  font-size: 12px;
}

.list {
  flex: 1;
  padding: 4px 0;
}

.row {
  height: 28px;
  border-bottom: 1px solid #e9edff;
}
