.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f5f5f7;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
    background: #f7f8fc;
    border-bottom: 1px solid #e2e4f0;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #4f46e5;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 32px;
}

.navItem {
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  color: #333;
  text-decoration: none;
}

.navItem:hover {
  color: #111;
}

.active {
  border-color: #000;
  font-weight: 700;
}

.right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.alarmBtn,
.logoutBtn {
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
  background: #e0e0e0
}

.alarmText {
  margin-left: 4px;
}

.content {
  flex: 1;
  padding: 24px 32px;
  overflow: auto;
}