.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f5f5f7;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
    background: #f7f8fc;
    border-bottom: 1px solid #e2e4f0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #4f46e5;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 32px;
}

.navItem {
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  color: #333;
  text-decoration: none;
}

.navItem:hover {
  color: #111;
}

.active {
  border-color: #000;
  font-weight: 700;
}

.right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.mypageicon {
  width: 48px;
  height: 48px;
}

.logoutBtn {
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
  background: #e0e0e0
}

.alarmBtn {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #ff3b30;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypageBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.alarmText {
  margin-left: 4px;
}

.content {
  flex: 1;
  padding: 24px 32px;
  overflow: auto;
}